// Base font sizes
//$typecsset-base-font-size   : 18px;
//$typecsset-base-line-height : 36px;

// Heading sizes
//$typecsset-h1-size:             48px;
//$typecsset-h2-size:             36px;
//$typecsset-h3-size:             30px;
//$typecsset-h4-size:             24px;
//$typecsset-h5-size:             20px;
//$typecsset-h6-size:             18px;
//
//$typecsset-show-baseline:       false;

$offwhite: #f3f3f3;
$offblack: #242424;
$lightgrey: #6f6f6f;
$feint: #D6D6D6;
$dblue: #303642;
$highlight: #73A4E7;

$sans: "freight-sans-pro", Helvetica, "Helvetica Neue", Arial, sans-serif;
$serif: "jubilat", "Sentinel", Cambria, Georgia, serif;
$mono: "source-code-pro", "Source Code Pro", Monaco, Consolas, "Lucida Console", monospace;

$fbold: 700;
$fsemi: 600;
$fmedium: 500;


//@import "mixins";
// @import "header";

body {
    font-family: $sans;
    background: $offwhite;
    color: $offblack;
    font-size: 16px;
    line-height: 1.5;
}

// Header wrapper
.wrap_large {
    width: 87.5%;
    max-width: 1300px;
    margin: 0 auto;
}

// Post wrapper
.wrap_small {
    width: 87.5%;
    max-width: 900px;
    margin: 0 auto;
    padding: 80px 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $serif;
}

h1 {
    font-weight: $fbold;
    font-size: 32px;
}

h2 {
    font-weight: $fsemi;
    font-size: 30px;
}

h3 {
    font-weight: $fsemi;
    font-size: 28px;
}

h4 {
    font-weight: $fsemi;
    font-size: 26px;
}

h5 {
    font-weight: $fsemi;
    font-size: 24px;
}

h6 {
    font-weight: $fmedium;
    font-size: 22px;
}

#masthead {
    background-size: cover !important;
    background-position: center center;
    min-height: 300px;
    padding-top: 40px;
}

.logo {
    float: left;
    color: $offwhite;
}

.logo svg {
    width: 48px;
    height: 48px;
}

.logo svg path {
    fill: $offwhite;
    -webkit-transition: fill 0.3s ease;
    -o-transition: fill 0.3s ease;
    transition: fill 0.3s ease;
}

.logo svg:hover path {
    fill: $highlight;
}

nav {
    float: right;
    color: $offwhite;
    font-weight: $fbold;
    text-transform: uppercase;
    margin-top: 12px;
    li {
        display: inline;
        margin-right: 20px;
        font-size: 14px;
    }
    li:last-child {
        margin-right: 0;
    }
}

nav a {
    transition: all 0.3s ease;
}

nav a:hover {
    color: $highlight;
}

article p, article blockquote, main p {
    line-height: 1.7;
}

article > *, main > * {
    margin-bottom: 40px;
}

article > h1, main > h1 {
    margin-bottom: 80px;
}

blockquote {
    border-left: 4px solid $feint;
    color: $lightgrey;
    padding: 10px 20px;
    font-size: 14px;
}

article a {
    text-decoration: underline;
}

article img {
    max-width: 100%;
    height: auto;
}

article ul {
    list-style: none;
    list-style-position: inside;
    color: $lightgrey;
    font-size: 14px;
    li {
        margin-bottom: 10px;
    }
    li:before {
        color: $feint;
        content: "■";
        padding-right: 15px;
    }
}

article ol {
    list-style: none;
    list-style-position: inside;
    color: $lightgrey;
    counter-reset: customcounter;
    font-size: 14px;
    li {
        margin-bottom: 10px;
    }
    li:last-child {
        margin-bottom: 0;
    }
    li:before {
        content: counter(customcounter);
        counter-increment: customcounter;
        color: $feint;
        padding-right: 15px;
        font-weight: 600;
    }
}

article code, article pre code {
    background: $dblue;
    font-family: $mono;
    font-weight: $fsemi;
    overflow-x: scroll;
}

article pre code {
    padding: 30px;
    font-size: 13px;
}

article code {
    padding: 0 5px;
    font-weight: 400;
}

.post_meta {
    font-size: 12px;
    color: $lightgrey;
    margin: 80px 0;
}

.post_tags {
    display: block;
    margin-top: 10px;
}

.post_tags svg {
    width: 16px;
    height: 16px;
    margin: 0 10px 0 0;
    vertical-align: middle;
}

.post_tags svg path {
    fill: $lightgrey;
}

.post_author {
    border-top: 1px solid $feint;
    padding-top: 60px;
}

.post_author img {
    float: left;
    width: 70px;
    height: 70px;
    border-radius: 80px;
    margin-right: 20px;
}

.view_by {
    font-family: $serif;
    font-weight: $fmedium;
    font-size: 16px;
    margin-top: 3px;
}

.post_author ul {
    list-style: none;
    li:before {
        content: none;
        padding-right: 0;
    }
}

.post_author ul li {
    float: left;
    margin-right: 10px;
    a {
        display: block;
    }
    &:last-child {
        margin-right: 0;
    }
}

.author_twitter svg {
    width: 32px;
    height: 32px;
    path {
        fill: #1EB1EA;
    }
}

.author_dribbble svg {
    width: 32px;
    height: 32px;
    path {
        fill: #E74F89;
    }
}

.author_github svg {
    width: 33px;
    height: 32px;
    path {
        fill: #000;
    }
}
