{% for post in site.posts limit: 1 %}
    <header id="masthead" style="background: url('{{ site.url }}/images/{{ post.imagefeature }}');">
        <div class="wrap_large group">
            <a class="logo" href="{{ site.url }}">{% include icons/webviews.svg %}</a>
            <nav>
                <ul>
                    <li><a href="#" title="Views">Views</a></li>
                    <li><a href="#" title="Tags">Tags</a></li>
                    <li><a href="#" title="About">About</a></li>
                </ul>
            </nav>
        </div>
    </header>
{% endfor %}
