{% for post in site.posts limit: 1 %}
    {% if page.imagefeature %}
        <header id="masthead" style="background: url('{{ site.url }}/images/{{ page.imagefeature }}');">
            <div class="wrap_large group">
                <a class="logo" href="{{ site.url }}">{% include icons/webviews.svg %}</a>
                <nav>
                    <ul>
                        {% for page in site.pages %}
                        {% unless page.slug == 'home' or page.slug == 'rss' %}
                            <li><a href="{{ site.url }}/{{ page.slug }}" title="{{ page.slug }}">{{ page.slug }}</a></li>
                        {% endunless %}
                        {% endfor %}
                    </ul>
                </nav>
            </div>
        </header>
    {% else %}
        <header id="masthead" style="background: url('{{ site.url }}/images/{{ post.imagefeature }}');">
            <div class="wrap_large group">
                <a class="logo" href="{{ site.url }}">{% include icons/webviews.svg %}</a>
                <nav>
                    <ul>
                        {% for page in site.pages %}
                        {% unless page.slug == 'home' or page.slug == 'rss' %}
                            <li><a href="{{ site.url }}/{{ page.slug }}" title="{{ page.slug }}">{{ page.slug }}</a></li>
                        {% endunless %}
                        {% endfor %}
                    </ul>
                </nav>
            </div>
        </header>
    {% endif %}
{% endfor %}
