---
layout: page
title: About WebViews
imagefeature: header_about.jpg
slug: about
---

<p class="page_intro">WebViews is written and maintained by Dave McNally and Ben Briggs. Our plan was to develop and publish a completely open-source project covering all aspects of the web industry. With that in mind, you can <a href="https://github.com/WebViews/webviews" title="WebViews on GitHub">view the source</a> on GitHub where you’re welcome to fork the project and use as you please!</p>

{% for author_id in site.author_ids %}
    {% assign author = site.authors[author_id] %}
    {% include _author.html %}
{% endfor %}
